<?xml version="1.0"?>
<model name="marble">
    <link name="marble link">
        <visual name="visual link">
            <geometry>
                <box>
                    <size>0.3 0.3 0.3</size>
                </box>
            </geometry>
            <material>
                <ambient>1 0 1 1<ambient>
            </material>
        </visual>

    </link>

</model>