<?xml version="1.0"?>
<robot name="marble">
    <link name="marble_link">
        <visual>
            <geometry>
                <sphere radius ="0.5"/>
            </geometry>
             <material name="box_color">
                <color rgba ="1 0 0 1" />
            </material>
        </visual>
    </link>

</robot>