<launch>

    <rosparam file ="$(find postbot)/config/robot_par.yaml" command = "load"/>

    <node name="init_system" pkg= "postbot" type="init_system.py" output="screen"/>

    <node name="spawn_marble_server" pkg= "postbot" type="spawn_marble_server.py" output="screen"/>

    <node name="spawn_marble" pkg= "postbot" type="spawn_marble.py" output="screen"/>

    <node name="navigation" pkg= "postbot" type="navigation_node.py" output="screen"/> 

</launch>