<launch>

        <arg name ="model"/>

        <param name="robot_description" command="$(findxacro)/xacro --inorder $(find postbot_description)/urdf/postbot.urdf"/>

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find postbot_description)/config/postbot.rviz" required="true"/>

</launch>